blinker==1.8.2
click==8.1.7
Flask==3.0.0
gunicorn==21.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
numpy==1.26.4
packaging==24.1
pandas==2.1.1
plotly==5.17.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
tenacity==9.0.0
tzdata==2024.2
Werkzeug==3.0.4
